@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="TaskSecondSolution"  style="text-align: center">
    <form method="post">
        <p>
             <label>Различные ли цифры?</label>
        </p>
        <p>
            <label>Введите трехзначное число!</label>
            <input type="text" name="Number" />
        </p>
        <p>
            <input type="submit" value="Проверить!"/>
        </p>
         <p>
             <label>@ViewBag.SecondAnswer</label>
        </p>
    </form>
</div>
