@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="TaskFirstSolution"  style="text-align: center">
    <form method="post">
        <h1>Лежит ли точка с данными координатами в 1 или 3 квадрантах?</h1>
        <p>
            <label>Координата точки по X:</label>
            <input type="text" name="CoordX" />
        </p>
        <p>
            <label>Координата точки по Y:</label>
            <input type="text" name="CoordY" />
        </p>
        <p>
            <input type="submit" value="Проверить!"/>
        </p>
         <p>
             <h1>@ViewBag.FirstAnswer</h1>
        </p>
    </form>
</div>
