@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="TaskThirdSolution"  style="text-align: center">
    <form method="post">
        <h1>Замена отрицательных чисел их квадратами в рандомном массиве</h1>
        <p>
            <label>Изначальный массив:</label>
        </p>
        <p>            
            <h1>@ViewBag.myArr</h1>
        </p>
        <p>
            <label>Обработанный массив:</label>
        </p>
        <p>
            <h1>@ViewBag.myNewArr</h1>
        </p>
        <p>
            <input type="submit" value="Вычислить"/>
        </p>
    </form>
</div>
